@{
    ViewData["Title"] = "Codigo Fuente";
}

<div class="row">
    <br />
    <br />
    <h1 class="text-center">Codigo Fuente</h1>
    <ul style="display: inline-block;">
        <li>Repositorio Codigo Fuente - GitHub</li>
        <li>https://github.com/mariogutierreza/OptimizacionMatematica</li>

    </ul>
</div>
