@{
    ViewData["Title"] = "Inicio";
}

<div class="row">
    <br />
    <br />
    <h1 class="text-center">Optimización Matemática</h1>
    <h3 class="text-center">Ocean Roldan</h3>
    <img src="~/images/Logo.png" width="470" />
    <ul style="display: inline-block;">
        <li>Mario Gutiérrez Alemán</li>
        <li>Margarita Maria Zuluaga García</li>
        <li>Sergio Alexis Cano Sepulveda</li>
        <li>Helber Merchan Arroyave</li>
        <li>Neider Yezid Castro Londoño</li>
    </ul>
</div>
